---
import BaseHead from '../components/BaseHead.astro';
import Footer from "../components/Footer.astro";
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style lang="scss">
            main {
                width: 100%;
                background-color: #f6f6f6;
            }
            article {
                width: calc(100% - 3rem);
                max-width: 800px;
                margin: auto;
            }
		</style>
	</head>
	<body>
		<Header />
		<main>
			<article>
				<h1>Okaka_kai</h1>
				<section>
					<li>
						<span>Zenn: </span><a href="https://zenn.dev/okaka_syake">okaka_syake</a>
					</li>
					<li>
						<span>Github: </span><a href="https://github.com/Okakakai">Okakakai</a>
					</li>
				</section>
				<section>
					<h3>履歴書</h3>
					<p>学歴</p>
					<ul>
						<li>
							<span>2024年3月</span> <span>茨城工業高等専門学校 国際創造工学科 情報系 卒業</span>
						</li>
					</ul>
					<p>職歴</p>
					<ul>
						<li>
							<span>2024年4月~</span> <span>某社</span>
						</li>
					</ul>
				</section>
			</article>
		</main>
		<Footer />
	</body>
</html>
